::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fcb814;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fcb814;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fcb814;
}

input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fdd472;
  opacity: 1; /* Firefox */
}

input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fdd472;
}

input:focus::-ms-input-placeholder { /* Microsoft Edge */
  color: #fdd472;
}

input {
  width: 99vw;
  background-color: transparent;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-day {
  display: flex;
}

.month-day input {
  width: 40vw;
}
