h2, h3, h4, input{
  color: #ffcc00;
  margin: 0;
}

h2, input {
  font-size: calc(2*88px);
  letter-spacing: 18px;
}

h3 {
  font-size: calc(0.25*88px);
}

h3::before {
  content: '[ ';
}

h3::after {
  content: ' ]';
}

h4 {
  min-height: 40px;
  font-size: 28px;
  letter-spacing: 10vw;
  margin-right: -9vw;
}

main button {
  margin-top: 50px;
}

button {
  background-color: #ffcc00;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  color: #fff;
  padding: 0 40px;
  outline: none;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: #ffdb4a;
}
