h2, h3, h4, input {
  color: #fcb814;
  margin: 0;
}

h2, input {
  font-size: calc(1.5*88px);
  letter-spacing: 18px;
}

h2, input {
  margin-right: -15px;
}

@media only screen and (max-width: 1092px) {
  h2, input {
    font-size: 80px;
    letter-spacing: 8px;
  }
}

@media only screen and (max-width: 767px) {
  h2, input {
    font-size: 48px;
    letter-spacing: 6px;
  }
}

h3 {
  font-size: calc(0.25*88px);
}

h3::before {
  content: '[ ';
}

h3::after {
  content: ' ]';
}

h4 {
  min-height: 41px;
  font-size: 28px;
  letter-spacing: 70px;
  margin-right: -69px;
}

@media only screen and (max-width: 1092px) {
  h3 {
    font-size: 20px;
    margin-right: -5px;
  }

  h4 {
    font-size: 20px;
    letter-spacing: 35px;
    margin-right: -40px;
  }
}

@media only screen and (max-width: 767px) {
  h3 {
    font-size: 15px;
    margin-right: -10px;
  }

  h4 {
    font-size: 18px;
    letter-spacing: 16px;
    margin-right: -25px;
  }
}

main button {
  margin-top: 50px;
}

button,
button:active {
  transition: 0.25s ease-in-out background-color;
  background-color: #fcb814;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  color: #fff;
  padding: 0 40px;
  outline: none;
  cursor: pointer;
  line-height: 40px;
  border: 8px solid transparent;
}

@media only screen and (max-width: 1092px) {
  button,
  button:active,
  .main button,
  .main button:active {
    line-height: 35px;
    font-size: 20px;
  }

  button:hover {
    background-color: #FDD577;
  }
}

@media only screen and (max-width: 767px) {
  button,
  button:active,
  .main button,
  .main button:active {
    padding: 0 25px;
    line-height: 25px;
  }
}

button:hover {
  /* background-color: blue; */
  border-radius: 20px;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: #b5b4c1;
}

button.back {
  background-color: #a2a2ad;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 16px;
}

button.back:hover {
  background-color: #C8C7D1;
}

button.forward {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button:disabled:hover,
button[disabled]:hover {
  font-style: normal;
}
