* {
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
}

html {
  background-color: #ffeb99;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

body {
  height: 95vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 787px) {
  body {
    height: 80vh;
    overflow-y: hidden;
  }
}

/* @media only screen and (max-width: 100px) {
  html {
    padding: 30px;
    text-align: left;
  }

  html::before {
    color: #ffcc00;
    content: 'Super Desktop Experience 0nly';
  }

  body {
    display: none;
  }
} */
