* {
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeb99;
  text-align: center;
}
