* {
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
}

html {
  background-color: #e3e1f2;
}

::selection {
  background: #f9f9fc;
}

::-moz-selection {
  background: #f9f9fc;
}

body {
  height: 95vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  body {
    height: 80vh;
    overflow-y: hidden;
  }
}
