::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffcc00;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffcc00;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffcc00;
}

input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffdb4a;
  opacity: 1; /* Firefox */
}

input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffdb4a;
}

input:focus::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffdb4a;
}

input {
  width: 99vw;
  background-color: transparent;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
